@import "tailwindcss";

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 246, 247, 248;
  --background-end-rgb: 255, 255, 255;
  
  --primary: #1173d4;
  --background-light: #f6f7f8;
  --background-dark: #101922;
}

.dark {
  --foreground-rgb: 241, 245, 249;
  --background-start-rgb: 16, 25, 34;
  --background-end-rgb: 16, 25, 34;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-light);
  font-family: 'Inter', sans-serif;
}

.dark body {
  background: var(--background-dark);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
